body{
    font-family: 'Piedra', cursive;
}
h1{
    font-size: 50px;
}
#color{
    color: aqua;
}
.Half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.Half img{
    width: 100%;
}